MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB_NAME=ufrocoin
MONGO_BLOCKS_COLLECTION=blocks
MONGO_TRANSACTIONS_COLLECTION=transactions
MONGO_CHAIN_METADATA_COLLECTION=chain_metadata
MONGODB_URI=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F

JWT_SECRET= ufrocoin-secret-cambiar-en-produccion
